ul {
    list-style: none;
    padding-left: 0; 
}

li:before {
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px; 
background-image: url('/static/icon.png');
    background-size: contain; 
    margin-right: 10px; 
}
#users{
    background-image: url('/static/user.jpg');
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center; 
}
.login-form{
    padding: 20px;
      width: 400px;
      align-items: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form input {
    width: 50%; 
}
.login-form h3{
    text-align: center;
    color: #333;
}
.form-group {
    display: flex;
    justify-content: center;
}
.btnSubmit
{
    margin-top: 12px;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: 10%;
    cursor: pointer;
}
.login-form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-container form{
    padding: 10%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.chat {
    flex: 1;
}

.userList {
    width: 200px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}
#users li {
    padding-left: 30px;
    position: relative;
}

#users li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;

    width: 20px;
    height: 20px;

    background-image: url('/static/user.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}